<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.work.payment.dao.PaymentDao">

    <insert id="insertPaymentLogs">
        INSERT INTO pay_logs(user_id, order_id, order_number, order_amout, outer_trade_no, status, create_time)
        value (#{userId},#{orderId},#{orderNumber},#{orderAmout},#{outerTradeNo},#{statusFlag},#{createTime})
    </insert>

    <select id="getPaymentLog" resultType="entity.PayLogModel" parameterType="long">
            select log_id,
            user_id,
            order_id,
            order_number,
            order_amout,
            outer_trade_no,
            status,
            create_time
            from pay_logs
            where log_id = #{logId}
    </select>

    <select id="getAllPaymentLogsQueryUserId" resultType="entity.PayLogModel">
          select log_id,
            user_id,
            order_id,
            order_number,
            order_amout,
            outer_trade_no,
            status,
            create_time
          from pay_logs
          where user_id = #{userId}
          and create_time between #{startTime} and #{endTime}
    </select>

    <select id="getPaymentLogsQueryUserId" resultType="int">
          select log_id,
            user_id,
            order_id,
            order_number,
            order_amout,
            outer_trade_no,
            status,
            create_time
          from pay_logs
          where user_id = #{userId}
          and create_time between #{startTime} and #{endTime}
    </select>
    <select id="selectRow" resultType="java.lang.Integer">
        select count(0)from pay_logs
    </select>
</mapper>
